$navBg: #0f1729;
$navPadding: 8px;
$contentBg: #f1f5f9;
$navHiglight: rgba(255, 255, 255, 0.5);
$navBorder: rgb(255, 255, 255, 0.1);
$navText: rgba(255, 255, 255, 0.9); //#669df6;
$navIcon: rgba(255, 255, 255, 0.9); //#669df6;
$navWhite: rgba(255, 255, 255, 0.9);
$logoWhite: rgba(255, 255, 255, 0.9);
$fontSize: 12px;
// $scaleSM: 0.5;
// $scaleLG: 0.5;
$tableScaleSM: 0.5;
$tableScaleLG: 0.5;
